html,
body {
  scroll-behavior: smooth;
}

pre {
  outline: none;
  padding: 5px;
  margin: 5px;
}
.string {
  color: rgb(0, 160, 59);
}
.number {
  color: rgb(167, 125, 0);
}
.boolean {
  color: rgb(0, 121, 177);
}
.null {
  color: rgb(107 114 128);
}
.key {
  color: rgb(165, 165, 165);
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgb(180, 180, 180);
  border-radius: 100vh;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
