html,
body {
  scroll-behavior: smooth;
}

pre {
  outline: 1px solid rgb(156 163 175);
  padding: 5px;
  margin: 5px;
}
.string {
  color: rgb(1, 128, 47);
}
.number {
  color: rgb(167, 125, 0);
}
.boolean {
  color: rgb(0, 121, 177);
}
.null {
  color: rgb(107 114 128);
}
.key {
  color: rgb(129, 129, 129);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
